
<div class="container">
    <div class="body-container">
        <div class="body-wrapper">
            <h3>Edit Product</h3>
            <form [formGroup]="editProductForm">
                <div class="input-card-wrapper">
                    <div class="input-heading">
                        <div>Name</div>
                    </div>
                    <div class="input-container">
                        <input formControlName="name" class="input" type="text"  />
                    </div>
                </div>

                <div class="input-card-wrapper">
                    <div class="input-heading">
                        <div>Price</div>
                    </div>
                    <div class="input-container">
                        <input formControlName="price" class="input" type="number"  />
                    </div>
                </div>

                <div class="input-card-wrapper">
                    <div class="input-heading">
                        <div>Icon</div>
                    </div>
                    <div class="input-container">
                        <input formControlName="img" class="input" type="text"  />
                    </div>
                </div>

                <div class="input-card-wrapper">
                    <div class="input-heading">
                        <div>Description</div>
                    </div>
                    <div class="input-container">
                        <input formControlName="description" class="input" type="text" />
                    </div>
                </div>

                <div class="input-card-wrapper">
                    <div class="input-heading">
                        <div>Stock</div>
                    </div>
                    <div class="input-container">
                        <input formControlName="amountCrafted" class="input" type="number" />
                    </div>
                </div>

                <div class="input-card-wrapper">
                    <div class="input-heading">
                        <div>Stock</div>
                    </div>
                    <div class="input-container">
                        <input formControlName="products" class="input" type="text" />
                    </div>
                </div>

                <div style="display: flex;">
                    <button type="button" (click)="updateRecipe()" style="margin-right: 32px;">Update Recipe</button>
                    <button type="button" (click)="cancelUpdate()" style="background-color: firebrick;">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
