:root {
    --light-grey: #ebebeb;
    --dark-grey: #303030;
    --grey: #f6f6f6;
    --white: white;
    --transparent: rgba(255, 255, 255, 0);
    --text-black: #141414;
    --black: black;
  }
  

/* Body */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.body-container {
    width: auto;
    height: auto;
    max-width: none;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: var(--grey);
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 220px;
    margin-right: 0;
    padding: 0;
    display: block;
    position: relative;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.body-wrapper {
    width: 100%;
    max-width: 1440px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 40px;
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: 38px;
    line-height: 44px;
}

h2 {
    font-size: 32px;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    line-height: 24px;
}

h5 {
    font-size: 14px;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 18px;
}

/*  */

.primary-btn {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: var(--text-black);
    color: var(--light-grey);
    border-radius: 10px;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 30px;
    text-decoration: none;
    display: flex;
}

.primary-btn.heading {
    background-color: var(--white);
}

.primary-btn.current {
    background-color: var(--grey);
}