.nav-left {
    width: 220px;
    background-color: var(--light-grey);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 60px;
    bottom: 0%;
    left: 0%;
    right: auto;
}

.nav-bar-top {
    height: 60px;
    background-color: var(--dark-grey);
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    z-index: 10;
}

.container {
    background-color: var(--grey);
    flex-flow: row;
    display: block;
    position: relative;
}

.nav-left-container {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    display: flex;
}

.nav-left-wrapper {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-flow: column;
    display: flex;
}

.navbar-link {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: var(--transparent);
    color: var(--text-black);
    border-radius: 10px;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    display: flex;
}

.navbar-link.heading {
    background-color: var(--white);
}

.navbar-link.current {
    background-color: var(--grey);
}

.body {
    color: var(--text-black);
    font-family: Inter, sans-serif;
    font-size: 16px;
}

/*  */
.card-container {
    display: flex;
    width: 100%;
    gap: 30px;
}

.container {
    background-color: var(--grey);
    flex-flow: row;
    display: block;
    position: relative;
}

.card-wrapper {
    width: 100%;
    border: 2px solid var(--light-grey);
    background-color: var(--white);
    border-radius: 15px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    display: flex;
    overflow: hidden;
    height: 100%;
}


.card-header {
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    display: flex;
    border-bottom: 2px solid var(--light-grey);
    background-color: var(--grey)
}

.card-headings {
    width: 100%;
    height: 70px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom: 2px solid var(--light-grey);
    background-color: var(--white);
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    justify-items: stretch;
    padding: 10px;
    display: flex;
}

.heading-container {
    width: 33%;
    height: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    overflow: hidden;
}

.heading-container._2 {
    width: 33%;
}

.ingredientscard {
    width: 100%;
}


.card-content {
    width: 100%;
    height: 70px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom: 2px solid var(--light-grey);
    background-color: var(--white);
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    justify-items: stretch;
    padding: 10px;
    display: flex;
}

.content {
    width: 55%;
    height: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    overflow: hidden;
}

.content._2 {
    width: 15%;
}

.content-image {
    width: 30px;
}


@media (max-width: 1200px) {
    .card-container {
        flex-direction: column;
    }
}