.nav-left {
    width: 220px;
    background-color: var(--light-grey);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 60px;
    bottom: 0%;
    left: 0%;
    right: auto;
}

.nav-bar-top {
    height: 60px;
    background-color: var(--dark-grey);
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    z-index: 10;
}

.nav-left-container {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    display: flex;
}

.nav-left-wrapper {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-flow: column;
    display: flex;
}

.navbar-link {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: var(--transparent);
    color: var(--text-black);
    border-radius: 10px;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    display: flex;
}

.navbar-link.heading {
    background-color: var(--white);
}

.navbar-link.current {
    background-color: var(--grey);
}

.body {
    color: var(--text-black);
    font-family: Inter, sans-serif;
    font-size: 16px;
}

/*  */
